SUPABASE_URL=https://lqpmmviiloztbanshfxy.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxxcG1tdmlpbG96dGJhbnNoZnh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4Mjc3MjgsImV4cCI6MjA5NjQwMzcyOH0.B7Oy2oH7YFPxgIvXLTPvduP7YFViiDaLfhROIJ44pOQ
SUPABASE_STORAGE_BUCKET=https://lqpmmviiloztbanshfxy.storage.supabase.co/storage/v1/s3
SUPABASE_CDN_BASE_URL=https://api.cloudflare.com/client/v4/accounts/<account_id>/d1/database
SUPABASE_AUTH_REDIRECT_URL=https://mytech.today/tools/player/v/index.html
SIGNED_URL_TTL_SECONDS=1209600
MEDIA_METADATA_SOURCE="browser"
